body {
  /* padding-bottom: 61px; */
  background-image: url("../images/background_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
}
/* html {
  position: relative;
  min-height: 100%;
} */

/*footer*/
#main-footer {
  /* height: 55px;
  bottom: 0;
  position: absolute;
  width: 100%; */
  background: #000;
  color: #fff;
  
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

#page-header {
  height: 150px;
  background: url('../images/image1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}
.about-info{
  margin-top: 30px;
}

.card-title{
  font-style: italic;
}

.contact-link{
  color: azure;
}
.contact-link:hover{
  color: rgb(9, 12, 12);
}



/*media query for devices with max screen size 980px*/
@media screen and (max-width: 980px) {
  /*
	  No specific rules for large screens at this time.
	*/
}

/*media query for devices with max screen size 768px*/
@media screen and (max-width: 768px) {
 
}

/*media query for devices with max screen size 640px*/
@media screen and (max-width: 640px) {
  
}









