body {
  /* background-image: url("../images/background_img.jpg"); */
  background-image: url("../images/vdhgv54ndnj21.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
}

#main-footer {
    background: #000;
  color: #fff;
  
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

#page-header {
  height: 150px;
  background: url('../images/image1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}
.about-info{
  margin-top: 30px;
  color: #000;
}

.card{
  border:gray 1px solid;
}

.card-title{
  font-style: italic;
}

.contact-link{
  color: azure;
}
.contact-link:hover{
  color: rgb(9, 12, 12);
}
.card-columns{
  max-width: 100%;
}
#resume{
  color: black;
}
.summary{
  color: #000;
}
#skills{
  color: #000;
}



/*media query for devices with max screen size 980px*/
@media screen and (max-width: 980px) {
  /*
	  No specific rules for large screens at this time.
	*/
}

/*media query for devices with max screen size 768px*/
@media screen and (max-width: 768px) {
.about-img {
  margin-top: -20px;
  width: 100%;
    } 
.about-info{
  margin-top: 0;
  }
.progress{
  margin-bottom: 5px !important;
  }
}

/*media query for devices with max screen size 640px*/
@media screen and (max-width: 640px) {
.about-img {
  margin-top: -20px;
  } 
.about-info{
  text-align: center;
  margin-top: 8px;
}
.progress{
  margin-bottom: 5px !important;
}
  
}











